<div id="newPlayer.html">
    <div class="modal-header">
        <h3 class="modal-title">New Player</h3>
    </div>

    <div class="modal-body">
        <h3>Player Name:</h3>
        <input type="text" class="form-control" ng-model="playerName">

        <h3>Gift Title:</h3>
        <input type="text" class="form-control" ng-model="giftName">

        <h3>Gift URL:</h3>
        <input type="text" class="form-control" ng-model="giftURL">
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="">Join Game</button>
        <!-- <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button> -->
    </div>
</div>